##
# macOS.
#
.DS_Store

##
# Node.js.
#
node_modules

##
# Python.
#
__pycache__
*.pyc

##
# Transpiled JavaScript files.
#
dist

##
# Xournal++.
#
*.xopp

##
# Jest.
#
coverage

##
# Asciidoctor.
#
*.html
*.pdf

##
# Emacs.
#
\#*
.#.*

##
# Java & Clojure.
#
.clj-kondo
.cpcache
target

##
# Language Server Protocol.
#
.lsp
